body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #1f2937;
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 10px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button {
    padding: 8px 20px;    
    background-color: #3882f6;
    color: white;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
    flex: 1 0 auto;
}
